openapi: 3.0.0
info:
  title: V1 AMS Warehouse Orders API
  description: |
    RESTful API Access to the AMS Warehouse Orders business object. These are wholesale orders for wine to be fulfilled by the warehouse. The source of the orders can be either internal or external. In other words, either an employee of the warehouse hand-entered the order or the order was entered into the AMS system through the old AMS web portal by a winery customer of the warehouse.
    <br/>
    <h1>Version Control Scheme</h1>
    <p>Versions will be relatively static, when breaking/logic changes occur a new version will be created.</p>
    <hr/>
    <h1>Revision Log</h1>
    <ul>
    <li>2020-07-23 - KAS - Brand new API design for exposing GETs and POSTs for warehouse orders in the system.</li>
    <li>2020-08-07 - KAS - Finished tweaking property names as the design is transferred to the Excel sheet.</li>
    <li>2020-11-29 - KAS - Factor out common components into the AMSComponents domain.</li>
    <li>2021-09-15 - KAS - Clean up, re-organize a bit, and import into Stoplight Studio/ReadMe. This involves the introduction of 'model' files, rather than the 'domains' that SwaggerHub allows for.</li>
    <li>2023-04-25 - KAS - Adjust the maximum lengths for a couple of items to support code translations.</li>
    </ul>
  contact:
    name: Helpdesk API Support
    email: apisupport@amssoftware.com
    url: 'http://www.amssoftware.com'
  license:
    name: License Required
    url: 'http://www.amssoftware.com'
  version: '2020-07-23'
servers:
  - description: Development Server
    url: 'https://thor2012-whse.amscloudconnect.amssoftware.com/api'
security:
  - AMSBearerAuth: []
tags:
  - name: OrdersGET
    description: GETs to the API resources that represents a warehouse order.
  - name: OrdersPOST
    description: POSTs to the API resource that represents a warehouse order.
paths:
  /warehouse/v1/orders:
    get:
      operationId: getV1WarehouseOrderQueryResults
      tags:
        - OrdersGET
      summary: Returns a list of warehouse orders when provided appropriate query parameters.
      description: 'Perform a search for warehouse orders via various query metrics. Generally speaking, this API resource will be used with "impersonator" GUIDs, which will restrict the data that is returned since the GUIDs "impersonate" AMS Users, which generally have IRW security set up by the warehouse. Unrestrained GETs against this resource will not be allowed. Query parameters will be required to ensure that the body of data returned in GETs will not be too cumbersome'
      parameters:
        - name: order_status
          in: query
          description: Status for warehouse orders. Indicates where in the business flow the order is located.
          required: false
          schema:
            title: OrdStatusEnum
            type: string
            enum:
              - 05-On_Hold
              - 10-Received
              - 15-Pickslip_Reprint_Pending
              - 20-Pickslip_Printed
              - 25-Bill_of_Lading_Reprint_Pending
              - 30-Bill_of_Lading_Printed
              - 35-Bill_of_Lading_Printed
              - 50-Shipped
              - 60-Invoiced
              - 95-Cancelled
            example: 10-Received
        - name: order_date
          in: query
          description: 'Date that will be used to find warehouse orders by comparing the value to the order date on a warehouse order. Expected date format is MMDDYY. Query values can be <MMDDYY for less than, >MMDDYY for greater than, MMDDYY-MMDDYY for a date range, or MMDDYY for an exact value.'
          required: false
          schema:
            type: string
        - name: ship_date
          in: query
          description: 'Date that will be used to find warehouse orders by comparing the value to the order date on a warehouse order. Expected date format is MMDDYY. Query values can be <MMDDYY for less than, >MMDDYY for greater than, MMDDYY-MMDDYY for a date range, or MMDDYY for an exact value.'
          required: false
          schema:
            type: string
        - name: ship_customer_id
          in: query
          description: Parameter value will be used to find warehouse orders by comparing the value to the 'ship-to' customer on an order. It must be an exact match.
          required: false
          schema:
            type: string
        - name: bill_customer_id
          in: query
          description: Parameter value will be used to find warehouse orders by comparing the value to the 'bill-to' customer on an order. It must be an exact match.
          required: false
          schema:
            type: string
        - name: expected_ship_date
          in: query
          description: 'Date that will be used to find warehouse orders by comparing the value to the order date on a warehouse order. Expected date format is MMDDYY. Query values can be <MMDDYY for less than, >MMDDYY for greater than, MMDDYY-MMDDYY for a date range, or MMDDYY for an exact value.'
          required: false
          schema:
            type: string
        - name: product_id
          in: query
          description: Parameter value will be used to find warehouse orders containing the product indicated by the supplied product ID. It must be an exact match.
          required: false
          schema:
            type: string
        - name: invoice_number
          in: query
          description: Parameter value will be used to find warehouse orders related to the provided invoice number. It must be an exact match.
          required: false
          schema:
            type: string
        - name: winery_code
          in: query
          description: Parameter value will be used to contextualize the API request with relation to the provided winery code. It must be an exact match.
          required: false
          schema:
            type: string
        - name: pagination
          in: query
          description: 'Query parameter that will allow for retrieving "pages" of results from the warehouse orders resource. The format of the value passed must be the following, {number1},{number2}. The first numeric value indicates the number of results per page and the second numeric value indicates the requested page of results.'
          required: false
          schema:
            type: string
        - name: detail
          in: query
          description: Flag indicating whether to include abbreviated or no order detail in results array; abbreviated order objects vs. order objects with no detail. Valid values are ABBR and NO. The default behavior is to provide full order detail.
          required: false
          schema:
            type: string
        - name: shipping_point
          in: query
          description: Parameter value will be used to contextualize the API request with relation to the provided shipping point code. It must be an exact match.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Ok - The query of the warehouse orders resource was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ams_api_response:
                    type: object
                    properties:
                      error_state:
                        type: boolean
                        example: false
                      endpoint_response:
                        type: object
                        properties:
                          query_results:
                            type: object
                            properties:
                              orders_found:
                                type: integer
                                example: 1
                              orders:
                                type: array
                                items:
                                  title: V1GETWarehouseOrderObject
                                  type: object
                                  properties:
                                    arl_deposit_ledger_code:
                                      type: string
                                      maxLength: 2
                                      example: AR
                                    arl_ledger_code:
                                      type: string
                                      maxLength: 2
                                      example: ' '
                                    art_ar_terms_code:
                                      type: string
                                      maxLength: 2
                                      example: '15'
                                    car_carrier_code:
                                      type: string
                                      maxLength: 3
                                      example: AMB
                                    cfc_customer_financial_code:
                                      type: string
                                      maxLength: 2
                                      example: '01'
                                    consumer_order_flag:
                                      type: boolean
                                      example: false
                                    creation_date:
                                      type: string
                                      maxLength: 10
                                      example: 01/01/2020
                                    creation_time:
                                      type: string
                                      maxLength: 8
                                      example: '11:35:48'
                                    creation_user_name:
                                      type: string
                                      maxLength: 8
                                      example: JOE
                                    deposit_flag:
                                      type: boolean
                                      example: false
                                    deposit_date:
                                      type: string
                                      maxLength: 10
                                      example: ' '
                                    deposit_print_date:
                                      type: string
                                      maxLength: 10
                                      example: ' '
                                    deposit_print_status:
                                      type: string
                                      enum:
                                        - Deposit Print Done
                                        - Deposit Print Pending
                                        - No Deposit Print
                                      example: No Deposit Print
                                    deposit_print_time:
                                      type: string
                                      maxLength: 8
                                      example: ' '
                                    description1:
                                      type: string
                                      maxLength: 50
                                      example: ' '
                                    description2:
                                      type: string
                                      maxLength: 50
                                      example: ' '
                                    dlz_delivery_zone_code:
                                      type: string
                                      maxLength: 2
                                      example: CP
                                    dpt_contact_dept_code:
                                      type: string
                                      maxLength: 2
                                      example: SC
                                    due_date:
                                      type: string
                                      maxLength: 10
                                      example: 01/31/2020
                                    ete_tax_exempt_code:
                                      type: string
                                      maxLength: 2
                                      example: 'NO'
                                    expected_ship_date:
                                      type: string
                                      maxLength: 10
                                      example: 02/05/2020
                                    fgh_freight_code:
                                      type: string
                                      maxLength: 2
                                      example: 3P
                                    freight_code_desc:
                                      type: string
                                      maxLength: 10
                                      example: COLLECT
                                    freight_source:
                                      type: string
                                      enum:
                                        - Computer
                                        - Manual
                                      example: Computer
                                    ftt_invoice_type_code:
                                      type: string
                                      maxLength: 2
                                      example: NA
                                    hold_over_credit_limit_flag:
                                      type: boolean
                                      example: false
                                    hold_delinquent_open_flag:
                                      type: boolean
                                      example: false
                                    hold_max_allowed_flag:
                                      type: boolean
                                      example: false
                                    hold_cash_before_delivery_flag:
                                      type: boolean
                                      example: false
                                    hold_cash_on_delivery_flag:
                                      type: boolean
                                      example: false
                                    hold_customer_on_hold_flag:
                                      type: boolean
                                      example: false
                                    hold_credit_approval_pending_flag:
                                      type: boolean
                                      example: false
                                    invoice_number:
                                      type: string
                                      maxLength: 10
                                      example: '456789'
                                    invoice_print_date:
                                      type: string
                                      maxLength: 10
                                      example: 01/15/2020
                                    last_mod_date:
                                      type: string
                                      maxLength: 10
                                      example: 01/11/2020
                                    last_mod_time:
                                      type: string
                                      maxLength: 8
                                      example: '12:00:00'
                                    last_mod_user:
                                      type: string
                                      maxLength: 8
                                      example: JOE
                                    lcr_excise_tax_code:
                                      type: string
                                      maxLength: 4
                                      example: CAMI
                                    loc_default_ship_location_code:
                                      type: string
                                      maxLength: 2
                                      example: BD
                                    loc_default_to_location_code:
                                      type: string
                                      maxLength: 2
                                      example: TX
                                    loc_ship_location_code:
                                      type: string
                                      maxLength: 2
                                      example: BD
                                    loc_to_location_code:
                                      type: string
                                      maxLength: 2
                                      example: BD
                                    month_and_year_received:
                                      type: string
                                      maxLength: 7
                                      example: 01/2020
                                    ocd_distribution_list_code:
                                      type: string
                                      maxLength: 2
                                      example: OC
                                    oeh_hold_manual_hold_code:
                                      type: string
                                      maxLength: 2
                                      example: CW
                                    ols_level_of_service_code:
                                      type: string
                                      maxLength: 10
                                      example: ' '
                                    order_busy_status:
                                      type: string
                                      enum:
                                        - Not Busy
                                        - Busy for Order Entry
                                        - Busy for Order Shipping
                                        - Busy for Invoice Update
                                      example: Not Busy
                                    order_confirmation_status:
                                      type: string
                                      enum:
                                        - Needs Confirmed
                                        - No Confirmation
                                        - Confirmation Sent
                                        - Confirmation Cancelled
                                      example: Confirmation Sent
                                    order_date:
                                      type: string
                                      maxLength: 10
                                      example: 01/01/2020
                                    order_additional_freight_amount:
                                      type: number
                                      minimum: -9999999.99
                                      maximum: 9999999.99
                                      example: 150
                                    order_consolidation_amount:
                                      type: number
                                      minimum: -9999999.99
                                      maximum: 9999999.99
                                      example: 0
                                    order_excise_tax_amount:
                                      type: number
                                      minimum: -9999999.99
                                      maximum: 9999999.99
                                      example: 150
                                    order_freight_amount:
                                      type: number
                                      minimum: -9999999.99
                                      maximum: 9999999.99
                                      example: 150.25
                                    order_id:
                                      type: string
                                      minLength: 1
                                      maxLength: 11
                                      example: 104-0
                                    order_status:
                                      title: OrdStatusEnum
                                      type: string
                                      enum:
                                        - 05-On_Hold
                                        - 10-Received
                                        - 15-Pickslip_Reprint_Pending
                                        - 20-Pickslip_Printed
                                        - 25-Bill_of_Lading_Reprint_Pending
                                        - 30-Bill_of_Lading_Printed
                                        - 35-Bill_of_Lading_Printed
                                        - 50-Shipped
                                        - 60-Invoiced
                                        - 95-Cancelled
                                      example: 10-Received
                                    order_type:
                                      type: string
                                      enum:
                                        - Normal
                                        - Correction
                                        - Return
                                      example: Normal
                                    otp_order_type_code:
                                      type: string
                                      maxLength: 10
                                      example: Club
                                    pickslip_date:
                                      type: string
                                      maxLength: 10
                                      example: 01/13/2020
                                    pickslip_print_count:
                                      type: integer
                                      minimum: 0
                                      maximum: 9999
                                    pickslip_time:
                                      type: string
                                      maxLength: 8
                                      example: '13:44:50'
                                    purchase_order_number:
                                      type: string
                                      maxLength: 10
                                      example: '123456'
                                    refer_to_invoice_number:
                                      type: integer
                                      minimum: 0
                                      maximum: 9999999999
                                    report_to_state_flag:
                                      type: boolean
                                      example: true
                                    shipment_advisement_status:
                                      type: string
                                      enum:
                                        - Shipment Advisement Needed
                                        - No Shipment Advisement
                                        - Shipment Advisement Sent
                                      example: No Shipment Advisement
                                    ship_date:
                                      type: string
                                      maxLength: 10
                                      example: 01/15/2020
                                    ship_user_name:
                                      type: string
                                      maxLength: 8
                                      example: JOE
                                    ship_via_text:
                                      type: string
                                      maxLength: 30
                                      example: Via Ray's Trucking
                                    ship_with_reference_number:
                                      type: string
                                      maxLength: 20
                                      example: A56498
                                    sph_special_handling_code:
                                      type: string
                                      maxLength: 4
                                      example: NON
                                    spt_shipping_point_code:
                                      type: string
                                      maxLength: 2
                                      example: SC
                                    status_date:
                                      type: string
                                      maxLength: 10
                                      example: 01/12/2020
                                    total_weight_in_pounds:
                                      type: number
                                      minimum: 0
                                      maximum: 9999999.99
                                      example: 3562.1
                                    whole_cases_ordered:
                                      type: number
                                      minimum: -9999999.99
                                      maximum: 9999999.99
                                      example: 112
                                    whole_cases_shipped:
                                      type: number
                                      minimum: -9999999.99
                                      maximum: 9999999.99
                                      example: 112
                                    whs_warehouse_code:
                                      type: string
                                      maxLength: 2
                                      example: 8W
                                    winery_reference_number:
                                      type: string
                                      maxLength: 20
                                      example: A56498
                                    win_ship_with_winery_code:
                                      type: string
                                      maxLength: 4
                                      example: AV
                                    win_winery_code:
                                      type: string
                                      maxLength: 4
                                      example: AV
                                    bill_to_information:
                                      title: V1GETBillToInformationObject
                                      type: object
                                      properties:
                                        address1:
                                          type: string
                                          maxLength: 30
                                          example: 123 Some St.
                                        address2:
                                          type: string
                                          maxLength: 30
                                          example: Suite F
                                        city:
                                          type: string
                                          maxLength: 24
                                          example: Atlanta
                                        customer_id:
                                          type: integer
                                          minimum: 0
                                          maximum: 9999
                                          example: 125
                                        name:
                                          type: string
                                          maxLength: 30
                                          example: Carryall Distribution
                                        phone_number:
                                          type: string
                                          maxLength: 15
                                          example: 707-539-7990
                                        state:
                                          type: string
                                          maxLength: 2
                                          example: GA
                                        zip_code:
                                          type: string
                                          maxLength: 10
                                          example: '30301'
                                    comment_lines:
                                      type: array
                                      items:
                                        title: V1GETCommentLineObject
                                        type: object
                                        properties:
                                          long_text:
                                            type: string
                                            maxLength: 255
                                            example: This is just some extra long superflous text that is just a temporary placeholder for explanatory purposes.
                                          oec_comment_code:
                                            type: string
                                            maxLength: 8
                                            example: PL
                                          print_on_bill_of_lading_switch:
                                            type: string
                                            enum:
                                              - ' '
                                              - 'Yes'
                                              - 'No'
                                            example: ' '
                                          print_on_confirmation_switch:
                                            type: string
                                            enum:
                                              - ' '
                                              - 'Yes'
                                              - 'No'
                                            example: ' '
                                          print_on_invoice_switch:
                                            type: string
                                            enum:
                                              - ' '
                                              - 'Yes'
                                              - 'No'
                                            example: ' '
                                          print_on_pick_switch:
                                            type: string
                                            enum:
                                              - ' '
                                              - 'Yes'
                                              - 'No'
                                            example: ' '
                                          text1:
                                            type: string
                                            maxLength: 40
                                            example: First line of comment text.
                                          text2:
                                            type: string
                                            maxLength: 40
                                            example: Second line of comment text.
                                    consumer_direct_information:
                                      title: V1GETConsumerDirectInfoObject
                                      type: object
                                      nullable: true
                                      properties:
                                        adult_signature_required_flag:
                                          type: boolean
                                          example: false
                                        alcohol_flag:
                                          type: boolean
                                          example: false
                                        cdz_carrier_delivery_zone_code:
                                          type: string
                                          maxLength: 10
                                          example: ' '
                                        club_text:
                                          type: string
                                          maxLength: 2048
                                          example: Welcome to the Super Duper Wonderful Wine Club!
                                        direct_order_management_flag:
                                          type: boolean
                                          example: false
                                        gift_message:
                                          type: string
                                          maxLength: 2048
                                          example: 'Hey there big guy, hope you like this wine!'
                                        insured_amount:
                                          type: number
                                          minimum: 0
                                          maximum: 9999999.99
                                          example: 0
                                        notify_status:
                                          type: string
                                          enum:
                                            - Notify Carrier
                                            - Notify Warehouse
                                            - No Notification
                                          example: No Notification
                                        number_375_bottles:
                                          type: integer
                                          minimum: 0
                                          maximum: 999
                                          example: 0
                                        number_750_bottles:
                                          type: integer
                                          minimum: 0
                                          maximum: 999
                                          example: 0
                                        number_magnum_bottles:
                                          type: integer
                                          minimum: 0
                                          maximum: 999
                                          example: 0
                                        number_non_wine_items:
                                          type: integer
                                          minimum: 0
                                          maximum: 999
                                          example: 0
                                        number_other_bottles:
                                          type: integer
                                          minimum: 0
                                          maximum: 999
                                          example: 0
                                        ogc_gift_card_code:
                                          type: string
                                          maxLength: 10
                                          example: ' '
                                        opk_default_package_code:
                                          type: string
                                          maxLength: 10
                                          example: ' '
                                        opm_package_material_code:
                                          type: string
                                          maxLength: 10
                                          example: ' '
                                        opt_permit_code:
                                          type: string
                                          maxLength: 10
                                          example: ' '
                                        ort_route_code:
                                          type: string
                                          maxLength: 10
                                          example: ' '
                                        package_count:
                                          type: integer
                                          minimum: 0
                                          maximum: 999
                                          example: 0
                                        residence_flag:
                                          type: boolean
                                          example: false
                                        sat_sales_type_code:
                                          type: string
                                          maxLength: 2
                                          example: ' '
                                        shipping_base_charge:
                                          type: number
                                          minimum: 0
                                          maximum: 99999.99
                                          example: 0
                                        shipping_instructions:
                                          type: string
                                          maxLength: 2048
                                          example: Leave it by the door out back.
                                        shipping_net_charge:
                                          type: number
                                          minimum: 0
                                          maximum: 99999.99
                                          example: 0
                                        shipping_surcharge:
                                          type: number
                                          minimum: 0
                                          maximum: 99999.99
                                          example: 0
                                        top_off_flag:
                                          type: boolean
                                          example: false
                                    delivery_instructions:
                                      type: array
                                      items:
                                        title: V1GETDeliveryInstructionObject
                                        type: object
                                        properties:
                                          instruction:
                                            type: string
                                            maxLength: 30
                                            example: Run through the garden.
                                    line_items:
                                      type: array
                                      items:
                                        title: V1GETLineItemObject
                                        type: object
                                        properties:
                                          extended_freight_amount:
                                            type: number
                                            minimum: 0
                                            maximum: 9999999.99
                                            example: 1344
                                          federal_excise_tax_liability_flag:
                                            type: boolean
                                            example: true
                                          freight_per_unit:
                                            type: number
                                            minimum: 0
                                            maximum: 9999999.99
                                            example: 1
                                          freight_source:
                                            type: string
                                            enum:
                                              - Computer
                                              - Manual
                                            example: Computer
                                          itc_transaction_code:
                                            type: string
                                            maxLength: 4
                                            example: SAL
                                          lane:
                                            type: string
                                            maxLength: 6
                                            example: ' '
                                          loc_default_shipping_location_code:
                                            type: string
                                            maxLength: 2
                                            example: TX
                                          loc_default_to_location_code:
                                            type: string
                                            maxLength: 2
                                            example: ' '
                                          loc_shipping_location_code:
                                            type: string
                                            maxLength: 2
                                            example: TX
                                          loc_to_location_code:
                                            type: string
                                            maxLength: 2
                                            example: ' '
                                          part_case_rate:
                                            type: number
                                            minimum: 0
                                            maximum: 99.99
                                            example: 0
                                          part_case_rate_source:
                                            type: string
                                            enum:
                                              - Computer
                                              - Manual
                                              - None
                                            example: None
                                          pfc_part_financial_code:
                                            type: string
                                            maxLength: 2
                                            example: 1T
                                          pounds_per_case:
                                            type: number
                                            minimum: 0
                                            maximum: 99999999.9
                                            example: 0
                                          production_date_1:
                                            type: string
                                            maxLength: 10
                                            example: ' '
                                          production_date_2:
                                            type: string
                                            maxLength: 10
                                            example: ' '
                                          product_id:
                                            type: string
                                            maxLength: 20
                                            example: BNCH01
                                          quantity_ordered:
                                            type: integer
                                            minimum: -999999999
                                            maximum: 999999999
                                            example: 1344
                                          quantity_shipped:
                                            type: integer
                                            minimum: -999999999
                                            maximum: 999999999
                                            example: 1344
                                          sat_override_sales_type_code:
                                            type: string
                                            maxLength: 2
                                            example: ' '
                                          state_excise_tax_liability_flag:
                                            type: boolean
                                            example: false
                                          units_per_case:
                                            type: integer
                                            minimum: 0
                                            maximum: 9999
                                            example: 12
                                          vendor_number:
                                            type: integer
                                            minimum: 0
                                            maximum: 999999
                                            example: 0
                                    public_warehousing_information:
                                      title: V1GETPulicWarehouseInfoObject
                                      type: object
                                      properties:
                                        delivery_amount:
                                          type: number
                                          minimum: 0
                                          maximum: 99999.99
                                          example: 0
                                        delivery_billed_flag:
                                          type: boolean
                                          example: false
                                        discount_amount:
                                          type: number
                                          minimum: 0
                                          maximum: 99999.99
                                          example: 0
                                        o3p_third_party_freight_code:
                                          type: string
                                          maxLength: 10
                                          example: ' '
                                        ods_discount_code:
                                          type: string
                                          maxLength: 10
                                          example: ' '
                                        quantity_discount_amount:
                                          type: number
                                          minimum: 0
                                          maximum: 99999.99
                                          example: 0
                                        ship_with_order_number:
                                          type: number
                                          minimum: 0
                                          maximum: 999999999.9
                                          example: 0
                                        transaction_billed_flag:
                                          type: boolean
                                          example: false
                                        billing_amounts:
                                          type: array
                                          items:
                                            title: V1GETBillingAmountObject
                                            type: object
                                            properties:
                                              billing_amount:
                                                type: number
                                                minimum: 0
                                                maximum: 99999.99
                                                example: 0
                                        billing_codes:
                                          type: array
                                          items:
                                            title: V1GETBillingCodeObject
                                            type: object
                                            properties:
                                              billing_code:
                                                type: string
                                                maxLength: 8
                                                example: .DLVRY
                                        billing_quantities:
                                          type: array
                                          items:
                                            title: V1GETBillingQuantityObject
                                            type: object
                                            properties:
                                              billing_quantity:
                                                type: number
                                                minimum: 0
                                                maximum: 99999.99
                                                example: 0
                                        scheduling_information:
                                          title: V1GETSchedulingInfoObject
                                          type: object
                                          nullable: true
                                          properties:
                                            combined_pick_flag:
                                              type: boolean
                                              example: false
                                            master_bill_of_lading_status:
                                              type: string
                                              enum:
                                                - Master Bill-of-Lading
                                                - On Master Bill-of-Lading
                                                - No Master Bill-of-Lading
                                              example: On Master Bill-of-Lading
                                            load_id:
                                              type: string
                                              maxLength: 1
                                              example: '1'
                                            scheduled_date:
                                              type: string
                                              maxLength: 10
                                              example: 01/12/2020
                                            scheduled_time:
                                              type: string
                                              maxLength: 8
                                              example: '12:00:00'
                                    scheduling_info:
                                      title: V1GETSchedulingInfoObject
                                      type: object
                                      nullable: true
                                      properties:
                                        combined_pick_flag:
                                          type: boolean
                                          example: false
                                        master_bill_of_lading_status:
                                          type: string
                                          enum:
                                            - Master Bill-of-Lading
                                            - On Master Bill-of-Lading
                                            - No Master Bill-of-Lading
                                          example: On Master Bill-of-Lading
                                        load_id:
                                          type: string
                                          maxLength: 1
                                          example: '1'
                                        scheduled_date:
                                          type: string
                                          maxLength: 10
                                          example: 01/12/2020
                                        scheduled_time:
                                          type: string
                                          maxLength: 8
                                          example: '12:00:00'
                                    ship_to_information:
                                      title: V1GETShipToInformationObject
                                      type: object
                                      properties:
                                        address1:
                                          type: string
                                          maxLength: 30
                                          example: 123 Some St.
                                        address2:
                                          type: string
                                          maxLength: 30
                                          example: Suite F
                                        city:
                                          type: string
                                          maxLength: 24
                                          example: Atlanta
                                        company:
                                          type: string
                                          maxLength: 30
                                          example: ' '
                                        customer_id:
                                          type: integer
                                          minimum: 1
                                          maximum: 9999
                                          example: 125
                                        email_address:
                                          type: string
                                          maxLength: 60
                                          example: ' '
                                        name:
                                          type: string
                                          maxLength: 30
                                          example: Carryall Distribution
                                        phone_number:
                                          type: string
                                          maxLength: 15
                                          example: 707-539-7990
                                        state:
                                          type: string
                                          maxLength: 2
                                          example: GA
                                        zip_code:
                                          type: string
                                          maxLength: 10
                                          example: '30301'
        '400':
          description: The query parameters used in the query of the dtc_orders endpoint were invalid.
          content:
            application/json:
              schema:
                title: Bad Request - Invalid Query Parameters Response
                x-tags:
                  - FailureResponse
                type: object
                properties:
                  ams_api_response:
                    type: object
                    properties:
                      error_state:
                        type: boolean
                        example: true
                      error_msg:
                        title: HandlerHttpErrorMessage
                        x-tags:
                          - Message
                        type: string
                        example: The API handler indicated an error condition via the HTTP return code.
                      endpoint_response:
                        type: object
                        properties:
                          potential_query_parameters:
                            title: PotentialQueryParms
                            type: array
                            minItems: 1
                            items:
                              anyOf:
                                - title: QueryParm1Object
                                  type: object
                                  properties:
                                    parameter_name:
                                      type: string
                                      example: FIXED_STRING_PARM
                                    parameter_type:
                                      type: string
                                      example: 'Standard parameter (fixed values, see further messaging in the parameter_notes)'
                                    parameter_notes:
                                      type: string
                                      example: This fixed string parm represents a parameter that must have one of a discrete number of possible values. This message will contain information about the possible values.
                                - title: QueryParm2Object
                                  type: object
                                  properties:
                                    parameter_name:
                                      type: string
                                      example: STRING_SEARCH_PARM
                                    parameter_type:
                                      type: string
                                      example: String search parameter (generally contains type text search)
                                    parameter_notes:
                                      type: string
                                      example: 'This string_search_parm represents a parameter the will use some form of text matching to limit results. Generally, the text search methodology will be of the contains type, however, the returned notes will specify the type of search methodology.'
                                - title: QueryParm3Object
                                  type: object
                                  properties:
                                    parameter_name:
                                      type: string
                                      example: NUMERIC_PARM
                                    parameter_type:
                                      type: string
                                      example: Numeric parameter
                                    parameter_notes:
                                      type: string
                                      example: This numeric_parm represents a parameter that will be compared to some numeric property of an API resource. There are three formats form numeric values and each indicates a different type of numeric comparison. >999 represents a greater than search. <999 represents a less than search. 999-1000 represents an inclusive range search.
                                - title: QueryParm4Object
                                  type: object
                                  properties:
                                    parameter_name:
                                      type: string
                                      example: DATE_PARM
                                    parameter_type:
                                      type: string
                                      example: Date parameter
                                    parameter_notes:
                                      type: string
                                      example: This date_parm represents a parameter that will be compared to some date property of an API resource. There are three formats form date values and each indicates a different type of date comparison. >MMDDYY represents a greater than date search. <MMDDYY represents a less than date search. MMDDYY-MMDDYY represents an inclusive date range search.
        '401':
          description: The authorization GUID used in the request was invalid/expired or the authorization header itself was missing.
          content:
            application/json:
              schema:
                title: Unauthorized - Invalid/Missing Authorization GUID Response
                x-tags:
                  - FailureResponse
                type: object
                properties:
                  ams_api_response:
                    type: object
                    properties:
                      error_state:
                        type: boolean
                        example: true
                      error_msg:
                        type: string
                        example: Invalid authorization GUID.
        '403':
          description: The API User does not have access to the requested resource.
          content:
            application/json:
              schema:
                title: Forbidden - Access Not Permitted Response
                x-tags:
                  - FailureResponse
                type: object
                properties:
                  ams_api_response:
                    type: object
                    required:
                      - error_state
                      - error_msg
                    properties:
                      error_state:
                        type: boolean
                        example: true
                      error_msg:
                        oneOf:
                          - title: HandlerHttpErrorMessage
                            x-tags:
                              - Message
                            type: string
                            example: The API handler indicated an error condition via the HTTP return code.
                          - title: InvalidImpersonationGuidMessage
                            x-tags:
                              - Message
                            type: string
                            example: Invalid Impersonation Guid
                      endpoint_response:
                        type: object
                        properties:
                          error_msg:
                            oneOf:
                              - title: NoApiAccessMessage
                                x-tags:
                                  - Message
                                type: string
                                example: User does not have access to the called method on the called resource.
                              - title: AmsUserImpersonationFailureMessage
                                x-tags:
                                  - Message
                                type: string
                                example: User does not have access to the GET method on the dtc_orders API resource
                              - title: DtcCustImpersonationFailureMessage
                                x-tags:
                                  - Message
                                type: string
                                example: 'When impersonating a DTC customer, only actions on that customer are allowed'
    post:
      operationId: addV1WarehouseOrder
      tags:
        - OrdersPOST
      summary: Allows the creation of a warehouse order resource.
      description: Adds a warehouse order resource to the database. Emulates existing warehouse order import in mechanisms. Orders end up in EDI batch files to be processed by server-side always-running code.
      parameters:
        - name: winery_code
          in: query
          description: Parameter value will be used to contextualize the API request with relation to the provided winery code. It must be an exact match.
          required: false
          schema:
            type: string
      requestBody:
        description: Request body for posting a warehouse order resource to the database. All components of the object are required to be present. Components with a non-zero minimum length require a value.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - car_carrier_code
                - description1
                - description2
                - dlz_delivery_zone_code
                - expected_ship_date
                - fgh_freight_code
                - freight_amount
                - loc_ship_location_code
                - loc_to_location_code
                - oeh_hold_manual_hold_code
                - order_date
                - otp_order_type_code
                - purchase_order_number
                - sat_sales_type_code
                - ship_address1
                - ship_address2
                - ship_city
                - ship_customer_id
                - ship_name
                - ship_state
                - ship_via_text
                - ship_with_reference_number
                - ship_zip_code
                - use_ship_address_flag
                - winery_reference_number
                - win_ship_with_winery_code
                - win_winery_code
                - comment_lines
                - consumer_direct_information
                - delivery_instructions
                - line_items
              properties:
                ams_order_source_flag:
                  type: boolean
                  example: false
                car_carrier_code:
                  type: string
                  minLength: 1
                  maxLength: 3
                  example: FEX
                description1:
                  type: string
                  maxLength: 50
                  example: ' '
                description2:
                  type: string
                  maxLength: 50
                  example: ' '
                dlz_delivery_zone_code:
                  type: string
                  minLength: 1
                  maxLength: 6
                  example: '9'
                expected_ship_date:
                  type: string
                  maxLength: 10
                  example: 07/31/2020
                fgh_freight_code:
                  type: string
                  minLength: 1
                  maxLength: 10
                  example: FEX
                loc_ship_location_code:
                  type: string
                  maxLength: 20
                  example: '01'
                loc_to_location_code:
                  type: string
                  maxLength: 2
                  example: ' '
                oeh_hold_manual_hold_code:
                  type: string
                  maxLength: 2
                  example: ' '
                order_date:
                  type: string
                  minLength: 10
                  maxLength: 10
                  example: 07/14/2020
                order_freight_amount:
                  type: number
                  minimum: 0
                  maximum: 9999999.99
                  example: 345.25
                otp_order_type_code:
                  type: string
                  minLength: 1
                  maxLength: 10
                  example: Club
                purchase_order_number:
                  type: string
                  maxLength: 20
                  example: ' '
                sat_sales_type_code:
                  type: string
                  maxLength: 10
                  example: ' '
                ship_address1:
                  type: string
                  maxLength: 30
                  example: 4415 Sonoma Highway
                ship_address2:
                  type: string
                  maxLength: 30
                  example: Suite F
                ship_city:
                  type: string
                  maxLength: 24
                  example: Santa Rosa
                ship_customer_id:
                  type: string
                  minLength: 4
                  maxLength: 24
                  example: '9999'
                ship_name:
                  type: string
                  maxLength: 30
                  example: Tim Smith
                ship_state:
                  type: string
                  maxLength: 2
                  example: CA
                ship_via_text:
                  type: string
                  maxLength: 30
                  example: ' '
                ship_with_reference_number:
                  type: string
                  maxLength: 20
                  example: 12345-01
                ship_zip_code:
                  type: string
                  maxLength: 10
                  example: '95409'
                use_ship_address_flag:
                  type: boolean
                  example: true
                winery_reference_number:
                  type: string
                  maxLength: 20
                  example: 12345-01
                win_ship_with_winery_code:
                  type: string
                  maxLength: 4
                  example: AV
                win_winery_code:
                  type: string
                  maxLength: 4
                  example: AV
                comment_lines:
                  type: array
                  minItems: 0
                  maxItems: 99
                  items:
                    type: object
                    required:
                      - long_text
                      - oec_comment_code
                      - print_on_bill_of_lading_switch
                      - print_on_confirmation_switch
                      - print_on_invoice_switch
                      - print_on_pick_switch
                      - text1
                      - text2
                    properties:
                      long_text:
                        type: string
                        maxLength: 255
                        example: ' '
                      oec_comment_code:
                        type: string
                        minLength: 1
                        maxLength: 6
                        example: GIFT
                      print_on_bill_of_lading_switch:
                        type: string
                        enum:
                          - ' '
                          - 'Yes'
                          - 'No'
                        example: ' '
                      print_on_confirmation_switch:
                        type: string
                        enum:
                          - ' '
                          - 'Yes'
                          - 'No'
                        example: ' '
                      print_on_invoice_switch:
                        type: string
                        enum:
                          - ' '
                          - 'Yes'
                          - 'No'
                        example: ' '
                      print_on_pick_switch:
                        type: string
                        enum:
                          - ' '
                          - 'Yes'
                          - 'No'
                        example: ' '
                      text1:
                        type: string
                        maxLength: 40
                        example: Here's a gift for you!
                      text2:
                        type: string
                        maxLength: 40
                        example: ' '
                consumer_direct_information:
                  type: object
                  required:
                    - adult_signature_required_flag
                    - birth_date
                    - cdz_carrier_delivery_zone_code
                    - club_text
                    - gift_message
                    - insured_amount
                    - notification_indicator
                    - o3p_third_party_freight_code
                    - ogc_gift_card_code
                    - ols_level_of_service_code
                    - opk_default_package_code
                    - opm_package_material_code
                    - opt_permit_code
                    - ort_route_code
                    - residential_delivery_flag
                    - ship_company
                    - ship_email_address
                    - ship_phone_number
                    - shipping_instructions
                    - top_off_flag
                  properties:
                    adult_signature_required_flag:
                      type: boolean
                      example: true
                    birth_date:
                      type: string
                      maxLength: 10
                      example: 10/23/1981
                    cdz_carrier_delivery_zone_code:
                      type: string
                      maxLength: 10
                      example: X
                    club_text:
                      type: string
                      maxLength: 2048
                      example: Welcome to the Super Duper Wonderful Wine Club!
                    gift_message:
                      type: string
                      maxLength: 2048
                      example: Happy Birthday big guy!
                    insured_amount:
                      type: number
                      minimum: 0
                      maximum: 9999999.99
                      example: 300
                    notification_indicator:
                      type: string
                      maxLength: 15
                      enum:
                        - ' '
                        - Carrier
                        - Warehouse
                        - No Notification
                      example: Carrier
                    o3p_third_party_freight_code:
                      type: string
                      maxLength: 10
                      example: UPS1
                    ogc_gift_card_code:
                      type: string
                      maxLength: 10
                      example: DV-HAPBD1
                    ols_level_of_service_code:
                      type: string
                      maxLength: 20
                      example: NEXTDAYAIR
                    opk_default_package_code:
                      type: string
                      maxLength: 10
                      example: 12P2
                    opm_package_material_code:
                      type: string
                      maxLength: 10
                      example: FOAM
                    opt_permit_code:
                      type: string
                      maxLength: 10
                      example: WINERY
                    ort_route_code:
                      type: string
                      maxLength: 10
                      example: SFO
                    residential_delivery_flag:
                      type: boolean
                      example: false
                    ship_company:
                      type: string
                      maxLength: 30
                      example: Advanced Management Systems
                    ship_email_address:
                      type: string
                      maxLength: 60
                      example: johnnys@gmail.com
                    ship_phone_number:
                      type: string
                      maxLength: 20
                      example: 707-539-7990
                    shipping_instructions:
                      type: string
                      maxLength: 2048
                      example: Ship with some ice packs!
                    top_off_flag:
                      type: boolean
                      example: false
                delivery_instructions:
                  type: array
                  minItems: 0
                  maxItems: 3
                  items:
                    type: object
                    required:
                      - instruction
                    properties:
                      instruction:
                        type: string
                        minLength: 1
                        maxLength: 30
                        example: Leave on the doorstep.
                line_items:
                  type: array
                  minItems: 1
                  maxItems: 999
                  items:
                    type: object
                    required:
                      - bottle_quantity_ordered
                      - case_quantity_ordered
                      - loc_override_ship_location_code
                      - loc_override_to_location_code
                      - product_description1
                      - product_description2
                      - product_id
                      - unit_gross_price
                      - unit_net_price
                      - unit_quantity_ordered
                    properties:
                      bottle_quantity_ordered:
                        type: integer
                        minimum: 0
                        maximum: 9999
                        example: 0
                      case_quantity_ordered:
                        type: integer
                        minimum: 0
                        maximum: 9999
                        example: 0
                      loc_override_ship_location_code:
                        type: string
                        maxLength: 20
                        example: ' '
                      loc_override_to_location_code:
                        type: string
                        maxLength: 2
                        example: ' '
                      product_description1:
                        type: string
                        maxLength: 40
                        example: ' '
                      product_description2:
                        type: string
                        maxLength: 40
                        example: ' '
                      product_id:
                        type: string
                        minLength: 5
                        maxLength: 24
                        example: BNCH01
                      purchase_price:
                        type: number
                        minimum: 0
                        maximum: 9999999.99
                        example: 0
                      purchase_price_percent:
                        type: integer
                        minimum: 0
                        maximum: 100
                        example: 0
                      sat_override_sales_type_code:
                        type: string
                        maxLength: 10
                        example: ' '
                      unit_gross_price:
                        type: number
                        minimum: 0
                        maximum: 9999999.99
                      unit_net_price:
                        type: number
                        minimum: 0
                        maximum: 9999999.99
                      unit_quantity_ordered:
                        type: integer
                        minimum: 0
                        maximum: 9999
                        example: 1344
      responses:
        '201':
          description: Created - The provided order data was valid and a new order resource was created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ams_api_response:
                    type: object
                    properties:
                      error_state:
                        type: boolean
                        example: false
                      endpoint_response:
                        type: object
                        properties:
                          order:
                            title: V1GETWarehouseOrderObject
                            type: object
                            properties:
                              arl_deposit_ledger_code:
                                type: string
                                maxLength: 2
                                example: AR
                              arl_ledger_code:
                                type: string
                                maxLength: 2
                                example: ' '
                              art_ar_terms_code:
                                type: string
                                maxLength: 2
                                example: '15'
                              car_carrier_code:
                                type: string
                                maxLength: 3
                                example: AMB
                              cfc_customer_financial_code:
                                type: string
                                maxLength: 2
                                example: '01'
                              consumer_order_flag:
                                type: boolean
                                example: false
                              creation_date:
                                type: string
                                maxLength: 10
                                example: 01/01/2020
                              creation_time:
                                type: string
                                maxLength: 8
                                example: '11:35:48'
                              creation_user_name:
                                type: string
                                maxLength: 8
                                example: JOE
                              deposit_flag:
                                type: boolean
                                example: false
                              deposit_date:
                                type: string
                                maxLength: 10
                                example: ' '
                              deposit_print_date:
                                type: string
                                maxLength: 10
                                example: ' '
                              deposit_print_status:
                                type: string
                                enum:
                                  - Deposit Print Done
                                  - Deposit Print Pending
                                  - No Deposit Print
                                example: No Deposit Print
                              deposit_print_time:
                                type: string
                                maxLength: 8
                                example: ' '
                              description1:
                                type: string
                                maxLength: 50
                                example: ' '
                              description2:
                                type: string
                                maxLength: 50
                                example: ' '
                              dlz_delivery_zone_code:
                                type: string
                                maxLength: 2
                                example: CP
                              dpt_contact_dept_code:
                                type: string
                                maxLength: 2
                                example: SC
                              due_date:
                                type: string
                                maxLength: 10
                                example: 01/31/2020
                              ete_tax_exempt_code:
                                type: string
                                maxLength: 2
                                example: 'NO'
                              expected_ship_date:
                                type: string
                                maxLength: 10
                                example: 02/05/2020
                              fgh_freight_code:
                                type: string
                                maxLength: 2
                                example: 3P
                              freight_code_desc:
                                type: string
                                maxLength: 10
                                example: COLLECT
                              freight_source:
                                type: string
                                enum:
                                  - Computer
                                  - Manual
                                example: Computer
                              ftt_invoice_type_code:
                                type: string
                                maxLength: 2
                                example: NA
                              hold_over_credit_limit_flag:
                                type: boolean
                                example: false
                              hold_delinquent_open_flag:
                                type: boolean
                                example: false
                              hold_max_allowed_flag:
                                type: boolean
                                example: false
                              hold_cash_before_delivery_flag:
                                type: boolean
                                example: false
                              hold_cash_on_delivery_flag:
                                type: boolean
                                example: false
                              hold_customer_on_hold_flag:
                                type: boolean
                                example: false
                              hold_credit_approval_pending_flag:
                                type: boolean
                                example: false
                              invoice_number:
                                type: string
                                maxLength: 10
                                example: '456789'
                              invoice_print_date:
                                type: string
                                maxLength: 10
                                example: 01/15/2020
                              last_mod_date:
                                type: string
                                maxLength: 10
                                example: 01/11/2020
                              last_mod_time:
                                type: string
                                maxLength: 8
                                example: '12:00:00'
                              last_mod_user:
                                type: string
                                maxLength: 8
                                example: JOE
                              lcr_excise_tax_code:
                                type: string
                                maxLength: 4
                                example: CAMI
                              loc_default_ship_location_code:
                                type: string
                                maxLength: 2
                                example: BD
                              loc_default_to_location_code:
                                type: string
                                maxLength: 2
                                example: TX
                              loc_ship_location_code:
                                type: string
                                maxLength: 2
                                example: BD
                              loc_to_location_code:
                                type: string
                                maxLength: 2
                                example: BD
                              month_and_year_received:
                                type: string
                                maxLength: 7
                                example: 01/2020
                              ocd_distribution_list_code:
                                type: string
                                maxLength: 2
                                example: OC
                              oeh_hold_manual_hold_code:
                                type: string
                                maxLength: 2
                                example: CW
                              ols_level_of_service_code:
                                type: string
                                maxLength: 10
                                example: ' '
                              order_busy_status:
                                type: string
                                enum:
                                  - Not Busy
                                  - Busy for Order Entry
                                  - Busy for Order Shipping
                                  - Busy for Invoice Update
                                example: Not Busy
                              order_confirmation_status:
                                type: string
                                enum:
                                  - Needs Confirmed
                                  - No Confirmation
                                  - Confirmation Sent
                                  - Confirmation Cancelled
                                example: Confirmation Sent
                              order_date:
                                type: string
                                maxLength: 10
                                example: 01/01/2020
                              order_additional_freight_amount:
                                type: number
                                minimum: -9999999.99
                                maximum: 9999999.99
                                example: 150
                              order_consolidation_amount:
                                type: number
                                minimum: -9999999.99
                                maximum: 9999999.99
                                example: 0
                              order_excise_tax_amount:
                                type: number
                                minimum: -9999999.99
                                maximum: 9999999.99
                                example: 150
                              order_freight_amount:
                                type: number
                                minimum: -9999999.99
                                maximum: 9999999.99
                                example: 150.25
                              order_id:
                                type: string
                                minLength: 1
                                maxLength: 11
                                example: 104-0
                              order_status:
                                title: OrdStatusEnum
                                type: string
                                enum:
                                  - 05-On_Hold
                                  - 10-Received
                                  - 15-Pickslip_Reprint_Pending
                                  - 20-Pickslip_Printed
                                  - 25-Bill_of_Lading_Reprint_Pending
                                  - 30-Bill_of_Lading_Printed
                                  - 35-Bill_of_Lading_Printed
                                  - 50-Shipped
                                  - 60-Invoiced
                                  - 95-Cancelled
                                example: 10-Received
                              order_type:
                                type: string
                                enum:
                                  - Normal
                                  - Correction
                                  - Return
                                example: Normal
                              otp_order_type_code:
                                type: string
                                maxLength: 10
                                example: Club
                              pickslip_date:
                                type: string
                                maxLength: 10
                                example: 01/13/2020
                              pickslip_print_count:
                                type: integer
                                minimum: 0
                                maximum: 9999
                              pickslip_time:
                                type: string
                                maxLength: 8
                                example: '13:44:50'
                              purchase_order_number:
                                type: string
                                maxLength: 10
                                example: '123456'
                              refer_to_invoice_number:
                                type: integer
                                minimum: 0
                                maximum: 9999999999
                              report_to_state_flag:
                                type: boolean
                                example: true
                              shipment_advisement_status:
                                type: string
                                enum:
                                  - Shipment Advisement Needed
                                  - No Shipment Advisement
                                  - Shipment Advisement Sent
                                example: No Shipment Advisement
                              ship_date:
                                type: string
                                maxLength: 10
                                example: 01/15/2020
                              ship_user_name:
                                type: string
                                maxLength: 8
                                example: JOE
                              ship_via_text:
                                type: string
                                maxLength: 30
                                example: Via Ray's Trucking
                              ship_with_reference_number:
                                type: string
                                maxLength: 20
                                example: A56498
                              sph_special_handling_code:
                                type: string
                                maxLength: 4
                                example: NON
                              spt_shipping_point_code:
                                type: string
                                maxLength: 2
                                example: SC
                              status_date:
                                type: string
                                maxLength: 10
                                example: 01/12/2020
                              total_weight_in_pounds:
                                type: number
                                minimum: 0
                                maximum: 9999999.99
                                example: 3562.1
                              whole_cases_ordered:
                                type: number
                                minimum: -9999999.99
                                maximum: 9999999.99
                                example: 112
                              whole_cases_shipped:
                                type: number
                                minimum: -9999999.99
                                maximum: 9999999.99
                                example: 112
                              whs_warehouse_code:
                                type: string
                                maxLength: 2
                                example: 8W
                              winery_reference_number:
                                type: string
                                maxLength: 20
                                example: A56498
                              win_ship_with_winery_code:
                                type: string
                                maxLength: 4
                                example: AV
                              win_winery_code:
                                type: string
                                maxLength: 4
                                example: AV
                              bill_to_information:
                                title: V1GETBillToInformationObject
                                type: object
                                properties:
                                  address1:
                                    type: string
                                    maxLength: 30
                                    example: 123 Some St.
                                  address2:
                                    type: string
                                    maxLength: 30
                                    example: Suite F
                                  city:
                                    type: string
                                    maxLength: 24
                                    example: Atlanta
                                  customer_id:
                                    type: integer
                                    minimum: 0
                                    maximum: 9999
                                    example: 125
                                  name:
                                    type: string
                                    maxLength: 30
                                    example: Carryall Distribution
                                  phone_number:
                                    type: string
                                    maxLength: 15
                                    example: 707-539-7990
                                  state:
                                    type: string
                                    maxLength: 2
                                    example: GA
                                  zip_code:
                                    type: string
                                    maxLength: 10
                                    example: '30301'
                              comment_lines:
                                type: array
                                items:
                                  title: V1GETCommentLineObject
                                  type: object
                                  properties:
                                    long_text:
                                      type: string
                                      maxLength: 255
                                      example: This is just some extra long superflous text that is just a temporary placeholder for explanatory purposes.
                                    oec_comment_code:
                                      type: string
                                      maxLength: 8
                                      example: PL
                                    print_on_bill_of_lading_switch:
                                      type: string
                                      enum:
                                        - ' '
                                        - 'Yes'
                                        - 'No'
                                      example: ' '
                                    print_on_confirmation_switch:
                                      type: string
                                      enum:
                                        - ' '
                                        - 'Yes'
                                        - 'No'
                                      example: ' '
                                    print_on_invoice_switch:
                                      type: string
                                      enum:
                                        - ' '
                                        - 'Yes'
                                        - 'No'
                                      example: ' '
                                    print_on_pick_switch:
                                      type: string
[...]
